ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: aqua;
    list-style-type: none;
}

li {
    float: right;
    border-left: 5px solid blue;
}


li a {
    padding: 8px;
    background-color: aqua;
    display: block;
    text-decoration: none;

}
a:hover {
    background-color: rgb(94, 182, 255);
    color:rgba(121, 193, 255, 0.753);
}

li a.active {
    background-color: rgb(0, 252, 155);
    color: rgb(0, 75, 46);
}

.dropbtn {
    background-color: rgb(71, 157, 233);
    color:blueviolet;
    padding: 10px;
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
}

.dropdown-content a {
    color:aqua;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: blue;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn { background-color: rgb(2, 34, 105);}



